

/*CSS rules only for mobile*/
@media only screen and (max-width: 600px) {

  div.card-wrapper card.pricing-card:first-child {
    @apply mt-12;
  }


}
/* END for Mobile rules */

/*CSS rules only for DESKTOP */
@media only screen and (min-width: 1280px) {


}
/* END for DESKTOP rules */

.main-endorse-title-style {
  @apply text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400;
}


a.cta-btn:hover svg.cta-btn-arrow-right {
  @apply animate-fade-right animate-once;
}

.position-under-navbar {
  top: 73px !important;
  height: calc(100vh - 73px) !important;
}

.custom-back-indicator::after {
  content: "\f053";
  font-family: FontAwesome;
  font-size: 14px;
  color: darkslategrey;
  margin: auto 10px auto 20px;
}

.menu-set-on-top {
  position: absolute !important;
  width: 100% !important;
}

ul.first-level-container-panel {
  opacity: 1 !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 90vh !important;
  z-index: 1 !important;
  background-color: rgb(255 255 254/var(--tw-bg-opacity)) !important;
  padding-bottom: 16px !important;
  padding-left: 10px !important;
  padding-top: 16px !important;
  transition: left 3.5s cubic-bezier(.175,.885,.32,1.075) !important;
}

